.bg-brand {
    background-color: #1d5b8a !important;
}

.text-brand {
    color: #1d5b8a !important;
}

.btn-brand {
    background-color: #1d5b8a !important;
    color: #fff !important;
    border: none;
}

.btn-brand:hover {
    background-color: #164869 !important;
    color: #fff !important;
}